<h1>Teams:</h1><br>
  <% @teams.each do |team| %>
        <%= image_tag "#{team.captain.profile_picture}", class: "captain-picture" %>
        Captain: <%= team.captain.first_name %>
          <%= team.name %><br>
          <%= team.users.count %> Members <br><br>
          <%= team.total_points %> Points <br><br>
        <% unless @user.has_team? || (team.users.size >= Team.max_size) %>
          <%= link_to 'Join', edit_user_path(@user, team_id: team), class: "#" %>
        <% end %>
  <% end %>
<% unless @user.has_team? %>
  <%= link_to 'Create Your Own', new_team_path, class: "#" %>
