<div class="row">
  <h1 class="team-heading">
    <%= @team.name %>
  </h1>
</div>

<div class="row">
  <div class ="small-12 columns">
    <h3>
      Member Performance
    </h3>
    <br>
    <% @team.users.each do |user| %>
      <p>
        <%= user.first_name %> <%= user.last_name %> has completed
         <%= user.accomplishments.count %> accomplishments
        and earned <%= user.total_points %> points
      </p>
      <br>
    <% end %>
    <h3>
      Benchmarks
    </h3>
    <p>
      Rank: <%= @team.rank %>
    </p>
    <p>
      Points this week: <%= @team.weekly_score %>
    </p>
  </div>
</div>


