<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h2>Sign up</h2>
    </div>
  </div>

  <div class="panel-body">
    <%= simple_form_for(resource, as:  resource_name, url:  registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <div class="form-group">
          <%= f.input :first_name, label: 'First Name', required:  true %>
        </div>
        <div class="form-group">
          <%= f.input :last_name, label: 'Last Name', required:  true %>
        </div>
        <div class="form-group">
          <%= f.input :age, required:  true %>
        </div>
        <div class="form-group">
          <%= f.input :height, required:  true %>
        </div>
        <div class="form-group">
          <%= f.input :weight, required:  true %>
        </div>
        <div class="form-group">
          <%= f.input :gender, collection: ['Male', 'Female'], as: :radio_buttons, required: true %>
        </div>
        <div class="form-group">
          <%= f.input :date_of_birth, label: 'Date of Birth', as: :string, required:  true %>
        </div>
        <div class="form-group">
          <%= f.input :email, required:  true, autofocus:  true %>
        </div>
        <div class="form-group">
          <%= f.input :password, required:  true %>
        </div>
       <div class="form-group">
          <%= f.input :password_confirmation, label: 'Confirm password', required:  true %>
        </div>
        <div class="form-group">
          <%= f.label :profile_picture, 'Profile Picture' %>
        </div>
        <div class="form-group">
          <%= f.file_field :profile_picture %>
        </div>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Submit" %>
      </div>
    <% end %>
  </div>

  <div class="panel-footer">
    <%= render "devise/shared/links" %>
  </div>
</div>
