<h2>Add Accomplishment</h2>

<%= simple_form_for @accomplishment do |f| %>
  <%= f.error_notification %>
    <%= f.hidden_field :activity_id, value: "#{@activity.id}" %>
    <%= f.input :duration, label: 'Duration', required:  true %>
    <%= f.button :submit, "Submit" %>
<% end %>
