<div class="row profile-head">
  <div class="small-4 columns">
    <%= image_tag "#{@user.profile_picture}", class: "profile-picture" %>
  </div>
  <div class="small-8 column">
    <p>
      Points: <%= @user.total_points %>
    </p>
    <% if @user.accomplishments.count > 0 %>
      <p>
        Favorite Activity:  <%= @user.favorite_activity %>
      </p>
    <% end %>
  </div>
</div>

<div class="row profile-activity">
  <h3 id="profile-subheading">My Activities:</h3>
  <% @activities.each do |activity| %>
    <p class="small-12 column">
      I currently enjoy <%= activity.name %> regularly

      <%= link_to "Remove", user_activity_path(@user_activities.find_by(activity_id: activity.id)), action: :destroy, method: :delete, class: "button small right remove-activity small-2 column" %>
      <%= link_to "Add New Accomplishment", new_accomplishment_path(activity_id: activity), class: "button small right small-3 column" %>
    </p>
  <% end %>
  <br>
  <%= link_to 'Add an Activity', activities_path, class: "button wide" %>
</div>

<div class="row profile-accomplishment">
  Recent Accomplishments:
  <% @user.recent_accomplishments.each do |accomplishment| %>
  <h3>
    I earned
    <%= accomplishment.points.first.quantity %>
    points by
    <%= accomplishment.user_activity.activity.name %>
    on
    <%= accomplishment.created_at.strftime("%A %B %d") %>
  </h3>
  <% end %>
</div>



