<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <!-- Sign Up and Logout -->
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
      <li>
          <%= link_to 'My Team', '#', class: :active %>
      </li>
      <li>
          <%= link_to 'My Profile', '#', class: :active %>
      </li>
      <li>
          <%= link_to 'My Stats', '#', class: :active %>
      </li>
      <li>
          <%= link_to 'Leaderboard', '#', class: :active %>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right nav_sign_up">
      <% if user_signed_in? %>
        <li>
          <%= link_to 'Edit profile', edit_user_registration_path, class: :active %>
        </li>
        <li>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to "Sign up", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "Login", new_user_session_path %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
